<!DOCTYPE html>
@model WebCore.Entity.DBTest.Student
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>

</head>
<body>
    201904010x<br />
    用户：@Model.Name <br />
    年龄：@Model.Age
</body>
</html>
