<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="~/js/vue.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
    <div id="app" style="width:500px;height:500px;">
        <el-upload class="upload-demo"
                   :action="url"
                   :data="params"
                   :on-success="uploadSuccess"
                   multiple
                   :limit="3"
                   :file-list="fileList">
            <el-button size="small" type="primary">点击上传</el-button>
            <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
        </el-upload>
        <a v-if="isshow" v-bind:href="downurl">下载</a>
    </div>
</body>
</html>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                fileList: [],
                isshow: false,
                downurl:"",
                url: "@Url.Action("local", "UploadService")",
                params: {
                    "directoryname":"xxxx"
                }
            }
        },
        methods:{
            uploadSuccess: function (response, file, fileList) {
                this.isshow = true;
                this.downurl = "/DownloadService/Local/?filename=" + encodeURI(response.data[0].filename) + "&path=" + encodeURI( response.data[0].path);
            }
        }
    })
</script>